<input type="text" name="title" placeholder="book title">
<input type="text" name="author" placeholder="book author">
<input type="text" name="isbn" placeholder="book isbn">
<input type="text" name="language_code" placeholder="book language_code">
<input type="text" name="num_pages" placeholder="book num_pages">
<input type="text" name="publication_date" placeholder="book publication_date">
<input type="text" name="publisher" placeholder="book publisher">
<button type="submit">Save</button>
<span id="closeBtn">Close</span>