{%for book in books%}
<li class="book">
    <a href="#book-card-{{book.bookID}}">
    <div class="book-cover">
        <div>Book</div>
    </div>
    
    <h3>{{book.title}}</h3>
    <p>{{book.authors}}</p>
    </a>

    <div class="expandable" id="book-card-{{book.bookID}}">
        <span
            class="close-span"
            hx-get="/"    
            hx-trigger="click"
            hx-swap="outerHTML"
            hx-target="body">X
        </span>
        <div class="info-group">
            <p><span>Authors:</span>{{book.authors}}</p>
            <p><span>Reader rating:</span>{{book.average_rating}}</p>
            <p><span>Pages:</span>{{book.num_pages}}</p>
            <p><span>Publication Date:</span>{{book.publication_date}}</p>
            <p><span>Publisher:</span>{{book.publisher}}</p>
        </div>
        
    <div class="group-btn">
        <button
            class="update-btn"
            hx-get="/books/update"
            hx-swap="innerHTML"
            hx-target="#update-book-form{{book.bookID}}"
            hx-trigger="click"
            hx-on::after-request="document.querySelector('#update-book-form{{book.bookID}}').classList.remove('hide-page');">Update book</button>

        <button
            hx-delete="/books/delete/{{book.bookID}}"
            hx-swap="innerHTML"
            hx-target="#book-list"
            hx-trigger="click"
            hx-confirm="Are you sure you wish to delete this book?">Delete book</button>
    </div>

    <div id="update-book{{book.bookID}}">
        <form
            id="update-book-form{{book.bookID}}"
            class="hide-page"
            hx-swap="outerHTML"
            hx-target="#book-list"
            hx-put="/books/update/{{book.bookID}}"
            hx-trigger="submit"
            hx-on::after-settle="event.target.classList.remove('hide-page');"></form>
    </div>
    </div>
</li>
{%endfor%}