<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Houme page</title>
 </head>
<body>
    <header id="global-header">
        <h1>MY HOME LIBRARY</h1>
        <form action=""
            id="search-form"
            hx-post="/search"
            hx-swap="innerHTML"
            hx-target="#book-list"
            hx-on::after-request="event.target.reset();">
            <input type="search" name="search" placeholder="search">
            <button id="searchBtn">SEARCH</button>
        </form>
        <button
            id="addBtn"
            hx-get="/books/add"
            hx-target="#add-book-form"
            hx-trigger="click">ADD BOOK</button>
    </header>

    <div id="add-book">
        <form
            id="add-book-form"
            class="hide-page"
            hx-post="/books/add"
            hx-swap="innerHTML"
            hx-target="#book-list"
            hx-on::after-request="event.target.classList.add('hide-page');"
            hx-on::after-settle="event.target.classList.remove('hide-page');"></form>
    </div>

    <ul id="book-list" hx-get="/books" hx-swap="innerHTML" hx-trigger="load">
    </ul>

    <footer id="global-footer">
        <p>&copy; 2025</p>
    </footer>

    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
</body>
</html>