<h2>{{title}}</h2>
<input type="text" name="title" placeholder="book title">
<input type="text" name="authors" placeholder="book authors">
<input type="text" name="isbn" placeholder="book isbn">
<input type="text" name="language_code" placeholder="book language_code">
<input type="text" name="num_pages" placeholder="book num_pages">
<input type="text" name="publication_date" placeholder="book publication_date">
<input type="text" name="publisher" placeholder="book publisher">
<button class="saveBtn">Save</button>
<span
    class="close-span"
    hx-trigger="click"
    hx-on:click="event.target.parentElement.classList.add('hide-page');">X</span>