<input type="text" name="title" placeholder="book title">
<input type="text" name="author" placeholder="book author">
<input type="text" name="isbn" placeholder="book isbn">
<input type="text" name="language_code" placeholder="book language_code">
<input type="text" name="num_pages" placeholder="book num_pages">
<input type="text" name="publication_date" placeholder="book publication_date">
<input type="text" name="publisher" placeholder="book publisher">
<button id="saveBtn" type="submit">Save</button>
<span
    hx-get="/books"
    hx-trigger="click"
    hx-on::after-request="this.reset(); event.target.parentElement.classList.add('hide-page');">Close</span>

<script>
    /*addCloseBtn = document.querySelector("#add-book-form span");      
    addSaveBtn = document.querySelector("#add-book-form button");
    console.log(closeBtn, addCloseBtn)

    addCloseBtn.addEventListener("click", function(event){
        event.target.parentElement.parentElement.classList.add("hide-page");
    });

    addSaveBtn.addEventListener("click", function(event){
        event.target.parentElement.parentElement.classList.add("hide-page");
    });*/
</script>