<input type="text" name="title" placeholder="book title">
<input type="text" name="author" placeholder="book author">
<input type="text" name="isbn" placeholder="book isbn">
<input type="text" name="language_code" placeholder="book language_code">
<input type="text" name="num_pages" placeholder="book num_pages">
<input type="text" name="publication_date" placeholder="book publication_date">
<input type="text" name="publisher" placeholder="book publisher">
<button id="saveBtn" type="submit">Save</button>
<span>Close</span>
<script>
    closeBtn = document.querySelectorAll("#book-list li form span");
      
    saveBtn = document.querySelectorAll("#book-list li form button");
    console.log(closeBtn, saveBtn)

    closeBtn.forEach(element => {
        element.addEventListener("click", function(event){
        event.target.parentElement.classList.add("hide-page");
    });
    });

    saveBtn.forEach(element => {
        element.addEventListener("click", function(event){
        event.target.parentElement.classList.add("hide-page");
    });
    });

</script>